#Python pyc
*.pyc

#Hidden files
.*
!.gitignore

#temp files
*.*~
*~

#C++ object files
*.o

#Obstacle avoidance Calibration files
*.cal

#Log Files
*.log

#folders
bin/

#Files
data/db/Kanji-story_bak.db
